<a href="https://colab.research.google.com/github/daniel-usp/Python/blob/main/Gabarito_Lista_de_Exerc%C3%ADcios_if_and_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios com if

## 1. Cálculo de Bônus

- Crie um programa que calcule e dê um print no bônus que os funcionários devem receber segundo a regra:

A meta é 1000 vendas.<br> 
Se o valor de vendas for maior ou igual a meta, o valor do bônus do funcionário é 10% do valor de vendas.<br>
Caso contrário o valor de bônus do funcionário é 0.<br>
Print o bônus dos 3 funcionários

In [3]:
vendas_funcionario1 = 1000
vendas_funcionario2 = 770
vendas_funcionario3 = 2700

#crie seu código aqui
if vendas_funcionario1 >= 1000:
  bonus = vendas_funcionario1*0.10
else:
  bonus = 0
print('O funcionário 1 ganhou {} de bônus'.format(bonus))

if vendas_funcionario2 >= 1000:
  bonus = vendas_funcionario2*0.10
else:
  bonus = 0
print('O funcionário 2 ganhou {} de bônus'.format(bonus))

if vendas_funcionario3 >= 1000:
  bonus = vendas_funcionario3*0.10
else:
  bonus = 0
print('O funcionário 3 ganhou {} de bônus'.format(bonus))

O funcionário 1 ganhou 100.0 de bônus
O funcionário 2 ganhou 0 de bônus
O funcionário 3 ganhou 270.0 de bônus

Resposta:
O funcionário 1 ganhou 100 de bônus
O funcionário 2 ganhou 0 de bônus
O funcionário 3 ganhou 270 de bônus

## 2. Cálculo de bônus com uma nova regra

- Agora, crie um novo código que calcule e dê um print no bônus dos funcionários novamente. Porém há uma nova regra nesse 2º caso:

A meta é 1000 vendas<br>
Agora, os funcionários que venderem muito acima da meta ganham mais bônus do que os outros. Então o bônus é definido da seguinte forma:<br>

- Se vendas funcionário for maior ou igual a 2000, então o bônus é de 15% sobre o valor de vendas
- Se vendas funcionário for menor do que 2000 e maior ou igual a 1000, então o bônus é de 10% sobre o valor de vendas
- Se vendas funcionário for menos do que 1000 então o bônus do funcionário é de 0.

Use as mesmas variáveis de vendas_funcionários

In [11]:
#crie seu código aqui
#obs: há 2 formas de fazer, com if dentro de if ou então com if e elif. Escolha a que você preferir
vendas_funcionario1 = 400
vendas_funcionario2 = 770
vendas_funcionario3 = 2700

if vendas_funcionario1 >= 2000:
  bonus = vendas_funcionario1*0.15
elif vendas_funcionario1 >= 1000:
  bonus = vendas_funcionario1*0.10
else:
  bonus = 0
print('O funcionário 1 ganhou {} de bônus'.format(bonus))


if vendas_funcionario1 >= 2000:
  bonus = vendas_funcionario1*0.15
if (vendas_funcionario1 >=1000) and (vendas_funcionario1 < 2000):
  bonus = vendas_funcionario1*0.10
if vendas_funcionario1 < 1000:
  bonus = 0
print('O funcionário 1 ganhou {} de bônus'.format(bonus))

O funcionário 1 ganhou 0 de bônus
O funcionário 1 ganhou 0 de bônus

Resposta:
O funcionário 1 ganhou 100 de bônus
O funcionário 2 ganhou 0 de bônus
O funcionário 3 ganhou 405 de bônus

In [17]:
vendas = [100,120,150,170,200]
def media(lista):
  media = sum(lista) / len(lista)
  return media

In [19]:
def soma(lista):
  return sum(lista)

In [22]:
def std(lista):
  erros_ao_quadrado = []
  for venda in vendas:

NameError: ignored

In [29]:
custos = [10,20,35]
resultado = []
for custo in custos:
  resultado.append((custo - media(custos))**2)
print((sum(resultado) / len(custos))**(1/2))

10.274023338281626

In [36]:
# List Comprehension
desvios_ao_quadrado = [(custo - media(custos))**2 for custo in custos]                      
std = (sum(desvio) / len(desvio))**(1/2)
std

10.274023338281626

In [42]:
def std(valores):
  desvios_ao_quadrado = [(valor - media(valores))**2 for valor in valores] 
  return (sum(desvios_ao_quadrado) / len(desvios_ao_quadrado))**(1/2)

In [39]:
def std_acima_de_30(valores):
  desvios_ao_quadrado = [(valor - media(valores))**2 for valor in valores if valor >= 30] 
  return (sum(desvios_ao_quadrado) / len(desvios_ao_quadrado))**(1/2)

In [44]:
vendas = [10,20,30,80,70]
print(std_acima_de_30(vendas))
print(std(vendas))

28.118795611950855
27.85677655436824

In [69]:
import pandas as pd
vendas = pd.DataFrame([100,300,500,80,700,100], columns = ['vendas'])
custos = pd.DataFrame([100,200,300,300,500,100], columns = ['custos'])
df = pd.concat([vendas,custos], axis =1)
df['lucro'] = (df['vendas'] - df['custos'])*0.20
filtro = df['lucro'] > 20
df[filtro]

   vendas  custos  lucro
2     500     300   40.0
4     700     500   40.0